@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Fredoka+One&family=Itim&family=Roboto&display=swap');
@import './components/reset';
@import './components/colors';


@import './components/keyframes';

* {
    margin: 0;
    padding: 0;

    color: var(--primary);
}

html,
body {
    height: 100%;
    min-height: 100vh;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;

    font-family: "Roboto", "Montserrat", "Open Sans", sans-serif;
}

@import './components/link';
@import './components/list';
@import './components/typo';
@import './components/layouts/container';
@import './components/layouts/header';
@import './components/layouts/footer';
@import './components/layouts/main';
@import './components/responsive/mediaQueries';