.list .list-header {
    text-decoration: underline;
    font-size: 1em;
    margin-bottom: .2em;
}

.list {
    list-style-type: none;
    max-width: max-content;

    text-align: center;

    .item {
        transition: .2s;

        &:hover {
            text-shadow: 0 0 3px var(--primary);
        }
    }
}

.list .list-header,
.list .item {
    line-height: 1.5em;
}

.list-style-type-circle {
    list-style-type: disc;
}