.main {
    grid-area: main;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    .lil-description,
    .list,
    .github-data,
    .paragraph {
        animation: load-title 1s ease;
    }

    .github-link,
    .image {
        animation: load 1s ease;
    }
}

@import '../main/home';
@import '../main/me';
@import '../main/portfolio';
@import '../main/goals';
@import '../main/contact';